nav {
    display: flex;
    justify-content: flex-end;
}

.item {
    margin: 0 5px;
}

@media only screen and (max-width: 475px) {
    nav {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        display: hidden;
    }
}

.show-nav {
    display-flex
}